<div class="resume-experience">
    <h5 class="card-title">🔸Infowiz Pvt. Ltd  <a class="btn btn-outline-light btn-sm">6 Weeks</a></h5>
    <p class="card-text ml-5">Work on MEAN STACK DEVELOPMENT</p>
    
    <h5 class="card-title">🔸Software Hub Solution  <a class="btn btn-outline-light btn-sm">4 Months</a></h5>
    <p class="card-text ml-5" >Backend Developer</p>
    
    <h5 class="card-title">🔸MasterMind  <a class="btn btn-outline-light btn-sm">2 Months</a></h5>
    <p class="card-text ml-5">Database Developer</p>
    
    </div>

