/* 
  .home-main{
    margin-top: 80px;
    color: #fff;
    background: #000;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 70%;
    margin: auto;
    display: flex;
  }

  .profile{
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 6px 0px 0px white;
      height: 380px;
      width: 340px;
      border-radius: 50%;
      margin: 50px 80px 90px 80px;
  } 
  .profile:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
  }

  .info {
    width: 60%;
    margin-top: 8rem;
    margin-left: 50px;
  }

  .info .icons {
    margin-left: 60px;
  }  

.info .icons i{
    margin-right: 10px;
    color: #fff;
}
.info .icons i:hover{
    margin-right: 10px;
    color: rgb(215, 208, 228);
    transform: scale(1.5);
}

.home-title .title {
    font-size: 20px;
    font-family: "Poppins";
}

.animation{
    font-size: 30px;
    font-family: "Poppins";
}
  
  .btn {
    color: #ffff;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid whitesmoke;
    font-weight: bold;
    transition-duration: 0.5s;
  }
  
  .btn:hover {
    cursor: pointer;
    color: #000;
    border: 1px solid rgb(10, 10, 10);
    background-color: #fff;
  }
  
  
  @media screen and (max-width: 1000px) {
    .container {
      margin: auto;  
      display: block;
      text-align: center;
    }
    .info {
      width: 100%;
    }
    
    .items {
      text-align: center;
      height: auto;
      justify-content: center;
    }
  }

  @media screen and (max-width: 972px) {
    .container {
      align-items: center;
        margin: auto;  
        display: block;
        text-align: center;
      }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      margin-top: 0;
    }
    .info {
      margin-top: 1rem;
    }
    .items {
      flex-direction: column;
      padding: 0;
    }
  
    .items .item {
      overflow: hidden;
      margin: 10px;
    }
    .item-link:hover,
    .active {
      display: inline-block;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 972px) {
    .container {
        margin: 0;  
        display: block;
        text-align: center;
      }
  } */


  /* ------------- */
/* Basic Setting */
/* ------------- */

html,
body {
    box-sizing: border-box;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 640px;
    background-color: #000;
}

.icons i{
  margin-right: 10px;
  color: #fff;
}
.icons i:hover{
  margin-right: 10px;
  color: white;
  transform: scale(1.5);
}

h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-family: "Poppins";
}

.type-animation {
  font-size: 3rem;
  font-family: "Poppins";
}

.btn {
  color: rgb(14, 13, 13);
  padding: 4px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid black;
  font-weight: bold;
  transition-duration: 0.5s;
}

.btn:hover {
  cursor: pointer;
  color: #ffff;
  border: 1px solid black;
  background-color: #000;
}

p {
    margin-top: 20px;
    font-size: 1em;
    color: #7B8591;
}

::selection {
    color: #fff;
    background-color: #005AEE;
}

/* ======================== */
/* Just Copy The Code Below */

/* ------------- */
/* Content Style */
/* ------------- */

.main-card {
    position: relative;
    width: 1080px;
    height: 490px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    background-color: #fff;
    box-shadow: 0px 0px 0px 11px rgb(188, 219, 219);
}

.main-card:hover {
  transform: scale(1.15);
  transition: 1s ease-out;
  box-shadow: inset 0 0 0 3px #000, inset -4px -4px 0 6px #CCC;
	background-color: #FFF;
	cursor: pointer; 
}

.main-card .card-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.main-card .content-left {
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f6f6f6;
}

.main-card .content-left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    
}
.main-card .content-left img:hover {
    transform: scale(1.07);
    transition: 1s ease-out; 
  }

.main-card .content-right {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    padding-left: 35px;
}

.main-card .tag {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: fit-content;
    padding: 8px 25px;
    border-radius: 10px;
    background-color: #005AEE;
}

.main-card .tag h6 {
    color: #fff;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 2px;
}

.main-card .mini-imgs {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 105px;
}

.main-card .mini-imgs img {
    width: 105px;
    height: 105px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 300ms;
}

.main-card .mini-imgs img:hover {
  /* transform: translateY(0) scale(1.2); */
    opacity: .75;
}

.main-card .mini-imgs img:nth-child(2) {
    margin: 0 10px;
}

/* Display this style when screen-width is lower than 992px */
@media only screen and (max-width: 992px) {

    main {
        display: flex;
        justify-content: center;
        align-items: start;
        height: auto;
        min-height: 100vh;
    }

    .main-card {
        position: relative;
        width: 100%;
        height: auto;
        margin: 80px 20px;
    }

    .main-card .card-content {
        flex-direction: column;
    }

    .main-card .content-left {
        width: 100%;
        height: 300px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 175px 0 0;
    }

    .main-card .tag {
        left: 0;
        transform: translateX(0);
    }

    .main-card .mini-imgs {
        position: absolute;
        display: flex;
        top: 0;
        margin-top: 35px;
        height: 105px;
    }

}

/* Display this style when screen-width is lower than 500px */
@media only screen and (max-width: 500px) {

    .main-card {
        margin: 120px 20px;
    }

    .main-card .card-content {
        padding: 25px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 115px 0 0;
    }

    .main-card .mini-imgs {
        margin-top: 20px;
    }

    .main-card .mini-imgs img {
        width: 60px;
        height: 60px;
    }

}

/* Just Copy The Code Above */
/* ======================== */

/* ----------- */
/* UI Designer */
/* ----------- */

.designer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    color: #46a2b9;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.designer a {
    text-decoration: none;
    color: #23515d;
}
